{
   "ignorePatterns": ["node_modules/", "dist/", "*.js"],
   "parser": "@typescript-eslint/parser",
   "plugins": ["@typescript-eslint"],
   "parserOptions": {
      "project": "tsconfig.json"
   },
   "rules": {
      "@typescript-eslint/no-floating-promises": "error"
   }
}
